In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/category_descriptions.csv')
df.head()

,Category (incl. context and answer),Description,Answer Format,Group
0,Category: Document Name,Description: The name of the contract,Answer Format: Contract Name,Group: -
1,Category: Parties,Description: The two or more parties who signe...,Answer Format: Entity or individual names,Group: -
2,Category: Agreement Date,Description: The date of the contract,Answer Format: Date (mm/dd/yyyy),Group: 1
3,Category: Effective Date,Description: The date when the contract is eff...,Answer Format: Date (mm/dd/yyyy),Group: 1
4,Category: Expiration Date,Description: On what date will the contract's ...,Answer Format: Date (mm/dd/yyyy) / Perpetual,Group: 1

In [3]:
print(df.shape)

(41, 4)

In [4]:
print(df.dtypes)

Category (incl. context and answer)    object
Description                            object
Answer Format                          object
Group                                  object
dtype: object

In [6]:
print(df.isna().sum())

Category (incl. context and answer)    0
Description                            0
Answer Format                          0
Group                                  0
dtype: int64

In [8]:
df = pd.read_csv('data/invoice_data.csv')
df.head()

,Invoice Number,Invoice Date,Customer Name,Item Description,Quantity,Unit Price,Due Date,Status,Total Amount
0,INV-1000,2024-04-04,Epsilon Ltd,Service Fee #3,7,297.42,2024-05-04,Pending,2081.94
1,INV-1001,2024-09-05,Delta Co,Service Fee #1,4,332.91,2024-10-05,Unpaid,1331.64
2,INV-1002,2024-01-10,Epsilon Ltd,Service Fee #5,6,76.93,2024-02-09,Overdue,461.58
3,INV-1003,2024-05-31,Zeta Partners,Service Fee #2,7,236.11,2024-06-30,Overdue,1652.77
4,INV-1004,2024-12-18,Epsilon Ltd,Service Fee #2,3,109.49,2025-01-17,Unpaid,328.47

In [9]:
print(df.shape)

(100, 9)

In [10]:
print(df.dtypes)

Invoice Number       object
Invoice Date         object
Customer Name        object
Item Description     object
Quantity              int64
Unit Price          float64
Due Date             object
Status               object
Total Amount        float64
dtype: object

In [11]:
print(df.isna().sum())

Invoice Number      0
Invoice Date        0
Customer Name       0
Item Description    0
Quantity            0
Unit Price          0
Due Date            0
Status              0
Total Amount        0
dtype: int64